:root {
  --primary: #4db2ec;
  --white: #fff;
  --black: #4d4d4d;
  --black2: #222;
  --grey1: #dad8d8;
  --grey2: #828282;
  --orange: #ffa238;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #fcfafa;
  color: var(--black);
  font-weight: 400;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  justify-content: center;
  z-index: 1000;
  display: none;
}

.overlay img {
  width: 20rem;
  height: 20rem;
}

.overlay.active {
  display: flex;
}

.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

/* Header */
.header {
  background-color: var(--black2);
  height: 7.5rem;
  line-height: 7.5rem;
}

.header.fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navigation {
  justify-content: space-between;
  height: 100%;
}

.logo {
  color: var(--white);
  font-size: 3rem;
}

.hamburger {
  display: none;
}

.nav-list li:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-list li a {
  display: inline-block;
  color: var(--white);
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: color 300ms ease-out;
}

.nav-list li a:hover {
  color: var(--primary);
}

@media (max-width: 567px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 80%;
    height: 100%;
    background-color: var(--white);
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    transition: all 500ms ease-out;
  }

  .nav-list.show {
    left: 0;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav-list li:not(:last-child) {
    margin-right: 0;
  }

  .nav-list li {
    margin: 0 0 0.5rem;
    display: block;
    width: 100%;
  }

  .nav-list li a {
    color: var(--black);
    font-size: 1.8rem;
    width: 100%;
  }

  .hamburger {
    display: block;
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
  }
}

.ad {
  max-width: 84rem;
  height: 13rem;
  padding: 0 2rem;
  margin: 5rem auto;
  justify-content: center;
}

.ad a,
.ad a img {
  width: 100%;
  height: 100%;
}

.ad a img {
  object-fit: cover;
}

/* Content */
#content {
  min-height: 70vh;
}

.blog-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 3rem;
}

.blog {
  background-color: var(--white);
  transition: all 300ms ease-out;
}

.blog:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.blog .blog-img {
  margin: 1.5rem 1.5rem 0;
  height: 25rem;
}

.blog .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .blog-text {
  padding: 1.5rem;
}

.blog .blog-text h2 {
  margin-bottom: 1rem;
  color: var(--black);
  height: 60px;
}

.blog .category {
  margin-right: 1rem;
  background-color: var(--grey1);
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.blog .date {
  font-size: 1.4rem;
  color: var(--orange);
}

.blog .author {
  margin-top: 1rem;
}

.blog .author-image {
  border-radius: 50%;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}

.blog .author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .author {
  font-size: 1.4rem;
}

@media (max-width: 567px) {
  .blog .blog-text h2 {
    height: 50px;
    font-size: 2rem;
  }

  .ad {
    margin: 1rem auto;
    height: 10rem;
  }

  .ad a img {
    object-fit: contain;
  }

  .blog .blog-img {
    height: 20rem;
  }
}

.load-btn {
  margin-top: 5rem;
  text-align: center;
}

.load {
  outline: none;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.load:hover {
  background-color: var(--black);
}

/* Footer */
.footer {
  background-color: var(--white);
  padding: 2rem;
}

.footer .layout {
  max-width: 30rem;
  margin: 0 auto;
  justify-content: space-between;
}

.footer p {
  margin-right: 3rem;
}

.footer a {
  font-size: 2.5rem;
  margin-right: 1rem;
}

/* Details */
.blog-detail {
  max-width: 125rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  gap: 2rem;
}

.article-container {
  background-color: var(--white);
  padding: 2rem;
  border: 1px solid #ddd;
}

.side-ad {
  position: sticky;
  top: 13rem;
  display: flex;
  justify-content: "center";
  height: 500px;
  border: 1px solid #ddd;
}

.side-ad a,
.side-ad img {
  width: 100%;
  height: 100%;
}

.side-ad img {
  object-fit: cover;
}

.article-container .top {
  text-align: center;
}

.article-container .top h1 {
  margin-bottom: 1rem;
  color: var(--black);
}

.article-container .top .info {
  justify-content: center;
}

.article-container .top .info span:first-child {
  margin-right: 15px;
}

.article-container .top .info span {
  color: var(--grey2);
}

.article-container .top .info span i {
  margin-right: 5px;
}

.article-container .featured-image {
  width: 100%;
  height: 45rem;
  margin: 3rem 0;
  border-radius: 1rem;
  overflow: hidden;
}

.article-container .featured-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-container .content p {
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--black);
}

.article-container .content .content-img {
  max-width: 55rem;
  width: 100%;
  height: 40rem;
  margin: 3rem auto;
}

.article-container .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-container .content h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.article-container .ad {
  margin: 0 auto 2rem;
}

@media (max-width: 1200px) {
  .blog-detail {
    grid-template-columns: 1fr;
    max-width: 800px;
    gap: 0;
  }

  .side-ad {
    display: none;
  }
}

@media (max-width: 850px) {
  .article-container .featured-image {
    height: 30rem;
  }
  .article-container .content .content-img {
    height: 30rem;
  }
}

@media (max-width: 567px) {
  .article-container .top h1 {
    font-size: 2rem;
  }
  .article-container .featured-image,
  .article-container .content .content-img {
    height: 25rem;
    margin: 1rem 0;
  }
}

/* YouTube and Vimeo */

.iframe-container {
  padding-bottom: 2rem;
  position: relative;
  display: block;
  width: 100%;
  height: 40rem;
  justify-content: center;
}

.iframe-container > iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .iframe-container {
    height: 25rem;
  }
}
@media (max-width: 567px) {
  .iframe-container {
    height: 20rem;
  }
}

.color {
  color: var(--primary);
}

/* 404 Error */
.error404 {
  padding: 30px 0;
}

.error404 .errorImage {
  text-align: center;
  height: 40rem;
  width: 40rem;
  margin: 0 auto;
}

.error404 .errorImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.error404 .content {
  text-align: center;
  margin-top: 30px;
}

.error404 .content a {
  display: inline-block;
  background-color: var(--primary);
  padding: 10px 30px;
  color: #fff;
  margin-top: 15px;
}

/* Contact Form */
.form {
  max-width: 55rem;
  margin: 0 auto;
}

.form h4 {
  font-size: 2.5rem;
}
.form input,
.form textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: block;
  border: 1px solid #e1e1e1;
  color: #333;
  padding: 1rem 0;
  font-size: 15px;
  text-indent: 1rem;
  margin-top: 1rem;
  background-color: #fff;
}
.form input:focus,
.form textarea:focus {
  outline: none !important;
}
.form input.danger,
.form textarea.danger {
  border: 1px solid #ff7a7a;
}
.form button {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  font-size: 13px;
  margin-top: 1rem;
  background-color: #222;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.form button:hover {
  background-color: var(--primary);
}
/*  .form span {
  font-size: 12px;
  color: #ff7a7a;
  display: block;
} */
